@page
@model MScInvoice.UI.Pages.Admin.CustomersModel
@{
}

    <div id="app" class="container">
        <div v-if="!editing">
            <button class="button" @@click="newCustomer">Add New Item</button>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>City</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr v-for="(customer, index) in customers">
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.city}}</td>
                    <td><a @@click="editCustomer(customer.id, index)">Edit</a></td>
                    <td><a @@click="deleteCustomer(customer.id, index)">Remove</a></td>
                </tr>
            </table>
        </div>
        <div v-else>
            <div class="field">
                <label class="label">Customer Name</label>
                <div class="control">
                    <input class="input" v-model="customerModel.name" />
                </div>
                <label class="label">Address 1</label>
                <div class="control">
                    <input class="input" v-model="customerModel.address1" />
                </div>
                <label class="label">Address 2</label>
                <div class="control">
                    <input class="input" v-model="customerModel.address2" />
                </div>
                <label class="label">City</label>
                <div class="control">
                    <input class="input" v-model="customerModel.city" />
                </div>
                <label class="label">Post Code</label>
                <div class="control">
                    <input class="input" v-model="customerModel.postCode" />
                </div>
                <label class="label">Number</label>
                <div class="control">
                    <input class="input" v-model="customerModel.number1" />
                </div>
                <button class="button is-success" @@click="createCustomer" v-if="!customerModel.id">Create Customer</button>
                <button class="button is-warning" @@click="updateCustomer" v-else>Update Customer</button>
                <button class="button" @@click="cancel">Cancel</button>

            </div>
        </div>
    </div>


    @section scripts{
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script src="~/js/invoices/customers.js"></script>
    }
