@page
@model MScInvoice.UI.Pages.Invoices.CustomerStatsModel
@{
}
<title>@ViewData["Title"] - DemoGoogleChart</title>
<div id="chart_div"></div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">


        google.charts.load('current', {
            packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(LoadData);

        function LoadData() {
            $.ajax({

                url: '/stats',
                dataType: "json",
                type: "GET",
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function (data) {
                    StatsChart(data);
                    return false;
                }
            });
            return false;
        }

        function StatsChart(data) {
            var dataArray = [
                ['Customer', 'Value']
            ];
            $.each(data, function (i, item) {
                dataArray.push([item.customerName, item.salesValue]);
            });
            var data = google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: 'Sales',

                is3D: true,
                isStacked: true,

                chartArea: {
                    width: '80%'
                },
                colors: ['#b0120a'],
                hAxis: {
                    title: 'Customers',
                    minValue: 0
                },
                vAxis: {
                    title: 'Value'
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

            chart.draw(data, options);
            return false;
        }
    </script>
}  