@page
@model MScInvoice.UI.Pages.Admin.InvoicesModel
@{ }
<h2>Invoices</h2>

<div id="app" class="container">
    <div>
        <Dropdown :options="customers"
                  v-on:selected="customerSelection"
                  v-on:filter="getDropdownValues"
                  :disabled="false"
                  name="customer"
                  :maxItem="10"
                  placeholder="Please select a customer">
        </Dropdown>

        <p>Selected customer: {{ selectedCustomer.name || 'none' }}</p>
    </div>


   

    <div>
        <Dropdown :options="items"
                  v-on:selected="itemSelection"
                  v-on:filter="getDropdownValues"
                  :disabled="false"
                  name="item"
                  :maxItem="10"
                  placeholder="Please select a item">
        </Dropdown>
        <button @@click="addRow">Add Item</button>
        <p>Selected item: {{ selectedItem.name || 'none' }}</p>

        <ul>
            <li v-for="(input, index) in inputs">
                <input hidden type="text" v-model="input.one"> <!--- {{ input.one }}-->
                <input type="text" v-model="input.two"> <!--- {{ input.two }}-->
                <button @@click="deleteRow(index)">Delete</button>
            </li>
        </ul>


    </div>


    <div>
        <select v-model="selectedPayMethod">
            <option v-for="payMethod in payMethods" v-bind:value="payMethod.id">
                {{payMethod.name}}
            </option>
        </select>
        <span>Selected: {{ selectedPayMethod }}</span>
    </div>
    <button class="button" @@click="createInvoice">Save invoice</button>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    
    <script src="~/js/components/dropdown-items.js"></script>
    <script src="~/js/components/vue-simple-search-dropdown.js"></script>
    <script src="~/js/invoices/invoices.js"></script>

   

   
}
