@page
@model MScInvoice.UI.Pages.Admin.InvoicesModel
@{ }
<h2>Invoices</h2>

<div id="app" class="container">
    <div>

        <!-- edit/new invoice-->
        <div v-if="editing">
            <div class="box">
                <div class="columns" style="margin-bottom: calc(0.2rem - 0.75rem);">
                    <div v-if="invoice.InvoiceId" class="column">
                        <input hidden type="text" v-model="invoice.InvoiceId">
                        <label class="label">Invoice Number</label>
                        <div class="control">
                            <input disabled="disabled" readonly="readonly" class="input" v-model="invoice.InvoiceNumber" />
                        </div>
                    </div>
                    <div v-if="invoice.InvoiceId" class="column">
                        <label class="label">Invoice Date</label>
                        <div class="control">
                            <input type="date" disabled="disabled" readonly="readonly" class="input" v-model="invoice.InvoiceDate" />
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">Due Date</label>
                        <div class="control">
                            <input type="date" class="input" v-model="invoice.DueDate" />
                        </div>
                    </div>


                </div>

                <label class="label">Browse customers</label>
                <Dropdown :options="customers"
                          v-on:selected="customerSelection"
                          v-on:filter="getDropdownValues"
                          :disabled="false"
                          name="customer1"
                          :maxItem="10"
                          placeholder="Please select a customer">
                </Dropdown>

                <p class="is-size-5 block" >Selected customer: <strong>{{ selectedCustomer.name || 'none' }}</strong></p>
                <div class="block">
                    <button class="button is-link is-light" @@click="showHideCustomer">{{ checkButton }} Customer</button>
                    <button class="button is-warning is-light" @@click="addCustomer">Add new customer</button>
                </div>
                <div>
                    <div v-if="isSeenCustomer" class="field">
                        <label class="label">Customer Name</label>
                        <div class="control">
                            <input class="input" v-model="selectedCustomer.name" :disabled="isDisabledCustomer" />
                        </div>
                        <label class="label">Address 1</label>
                        <div class="control">
                            <input class="input" v-model="selectedCustomer.address1" :disabled="isDisabledCustomer" />
                        </div>
                        <label class="label">Address 2</label>
                        <div class="control">
                            <input class="input" v-model="selectedCustomer.address2" :disabled="isDisabledCustomer" />
                        </div>
                        <div class="columns">
                            <div class="column">
                                <label class="label">City</label>
                                <div class="control">
                                    <input class="input" v-model="selectedCustomer.city" :disabled="isDisabledCustomer" />
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Post Code</label>
                                <div class="control">
                                    <input class="input" v-model="selectedCustomer.postCode" :disabled="isDisabledCustomer" />
                                </div>
                            </div>
                        </div>
                        <label class="label">Number</label>
                        <div class="control">
                            <input class="input" v-model="selectedCustomer.number1" :disabled="isDisabledCustomer" />
                        </div>


                    </div>
                </div>
            </div>


            <div class="field">
                <button class="button is-warning" @@click="addSectionToInvoice">Add Section</button>
                <ul>
                    <li>Section</li>



                    <li class="box" v-for="(section, indexSection) in sections">
                        <label class="label">Browse Items</label>

                        <Dropdown :options="items"
                                  v-on:selected="itemSelection"
                                  v-on:filter="getDropdownValues"
                                  :disabled="false"
                                  name="item"
                                  :maxItem="10"
                                  placeholder="Please select a item">
                        </Dropdown>
                        <hr />
                        <button class="button is-warning" @@click="addItemToInvoice(indexSection)">Add Item</button>

                        <p class="is-size-5">Selected item: <strong>{{ selectedItem.name || 'none' }}</strong></p>

                        <ul>
                            <li>
                                <input hidden type="text" v-model="section.date">
                                <label class="label">Section Name</label>
                                <div class="columns">
                                    <div class="column">
                                        <div class="control">
                                            <input class="input" type="text" v-model="section.name">
                                        </div>
                                    </div>
                                    <div class="column is-2">
                                        <div class="buttons is-right">
                                            <button class="button is-info is-light" 
                                                    @@click="deleteSectionFromInvoice(indexSection)">
                                            Delete Section
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="columns" style="margin-bottom: calc(0.2rem - 0.75rem);">
                                    <div class="column">
                                        <label class="label">Name</label>
                                    </div>
                                    <div class="column is-2">
                                        <label class="label">Price</label>
                                    </div>
                                    <div class="column is-2">
                                        <label class="label">Tax</label>
                                    </div>
                                    <div class="column is-2">
                                        <label class="label">Quantity</label>
                                    </div>
                                    <div class="column is-2">
                                        <label class="label">Total</label>
                                    </div>
                                    <div class="column is-2">
                                        <!--??-->
                                    </div>
                                </div>
                            </li>
                            <li v-for="(input, indexItem) in section.inputs">
                                <input hidden type="text" v-model="input.id">
                                <div class="columns" style="margin-bottom: calc(0.2rem - 0.75rem);">
                                    <div class="column">
                                        <div class="control">
                                            <input class="input" type="text" v-model="input.name">
                                        </div>
                                    </div>
                                    <div class="column is-2">
                                        <div class="control">
                                            <input class="input"  type='number' step='0.1' v-model="input.price" @@change="calculateTotalLine(input, indexSection)">
                                        </div>
                                    </div><div class="column is-2">
                                        <div class="control">
                                            <input class="input" type='number' v-model="input.tax" @@change="calculateTotalLine(input, indexSection)">
                                        </div>
                                    </div>

                                    <div class="column is-2">
                                        <div class="control">
                                            <input class="input" type='number' v-model="input.quantity" @@change="calculateTotalLine(input, indexSection)">
                                        </div>
                                    </div>
                                    <div class="column is-2">
                                        <div class="control">
                                            <input readonly="readonly" class="input" type="text" v-model="input.totalLine">
                                        </div>
                                    </div>
                                    <div class="column is-2">
                                        <div class="buttons is-right">
                                            <button class="button is-info is-light" @@click="deleteItemFromInvoice(indexSection, indexItem)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid #cecbcb; margin-bottom: 3px"></div>

                            </li>
                            <li>
                                <div class="level-right">
                                    <p class="level-item"><strong>Sub Total: {{section.subSum}}</strong></p>
                                </div>
                                <div style="border-bottom: 1px solid #cecbcb; margin-bottom: 3px"></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="level-right">
                            <p class="level-item"><strong>Total: {{sumTotal}}</strong></p>
                        </div>
                        <div style="border-bottom: 1px solid #cecbcb; margin-bottom: 3px"></div>
                    </li>
                    <li>
                        <div class="level-right">
                            <p class="level-item"><strong>Total Tax: {{totalTax}}</strong></p>
                        </div>
                        <div style="border-bottom: 1px solid #cecbcb; margin-bottom: 3px"></div>
                    </li>
                    <li>
                        <div class="level-right">
                            <p class="level-item"><strong>Total With Tax: {{totalPlusTax}}</strong></p>
                        </div>
                        <div style="border-bottom: 1px solid #cecbcb; margin-bottom: 3px"></div>
                    </li>
                </ul>

                <!-- pay method-->
                <div class="block">
                    <div class="select">
                        <select v-model="selectedPayMethod">
                            <option v-for="payMethod in payMethods" v-bind:value="payMethod">
                                {{payMethod.name}}
                            </option>
                        </select>
                    </div>
                    <span class="is-size-4">Selected: <strong>{{ selectedPayMethod.name }}</strong></span>
                </div>
                <div class="block">
                    <button v-if="!invoice.InvoiceId" class="button is-link" @@click="createInvoice">
                        <span v-if="loading">Loading...</span>
                        <slot v-else>Save Invoice</slot>
                    </button>
                    <button class="button" @@click="cancel">Cancel</button>
                    <button v-if="invoice.InvoiceId" class="button is-link" @@click="updateInvoice" >
                        <span v-if="loading">Loading...</span>
                        <slot v-else>Update Invoice</slot>
                    </button>
                    <button class="button" @@click="printInvoice">Print</button>

                </div>
                <br />
            </div>
        </div>
        <!-- list of invoices-->
        <div v-if="!editing">

            <button class="button" @@click="newInvoice">Add New Invoice</button>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Invoice No</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr v-for="(invoice, index) in invoices">
                    <td>{{invoice.id}}</td>
                    <td>{{invoice.customerName}}</td>
                    <td>{{invoice.invoiceNo}}</td>
                    <td>{{invoice.date}}</td>
                    <td><a @@click="editInvoice(invoice.id, index)">Edit</a></td>
                    <td><a v-if="index + 1 == invoices.length" @@click="deleteInvoice(invoice.id, index)">Remove</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts{
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="~/js/components/dropdown-items.js"></script>
    <script src="~/js/components/vue-simple-search-dropdown.js"></script>
    
    <script src="~/js/invoices/invoices.js"></script> 
}
