@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="s01">
    <div class="container">
        <section class="section myBackgroundColorGreyLightTransparent is-size-3 is-family-primary">
            <p class="has-text-white">
                We've decided to help people and their small business to make invoices the way it is tailored for their individual needs.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged..
            </p>
        </section>
    </div>
</div>