.dropdown {
    position: relative;
    display: block;
    margin: auto;
}

    .dropdown .dropdown-input {
        background: #fff;
        cursor: pointer;
        border: 1px solid #e7ecf5;
        border-radius: 3px;
        color: #333;
        display: block;
        font-size: 0.8em;
        padding: 6px;
        min-width: 250px;
        max-width: 250px;
    }

        .dropdown .dropdown-input:hover {
            background: #f8f8fa;
        }

    .dropdown .dropdown-content {
        position: absolute;
        background-color: #fff;
        min-width: 248px;
        max-width: 248px;
        max-height: 248px;
        border: 1px solid #e7ecf5;
        box-shadow: 0px -8px 34px 0px rgba(0, 0, 0, 0.05);
        overflow: auto;
        z-index: 1;
    }

        .dropdown .dropdown-content .dropdown-item {
            color: black;
            font-size: 0.7em;
            line-height: 1em;
            padding: 8px;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }

            .dropdown .dropdown-content .dropdown-item:hover {
                background-color: #e7ecf5;
            }

    .dropdown .dropdown:hover .dropdowncontent {
        display: block;
    }
