@inject IAuthorizationService authService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MScInvoice.UI</title>

    <environment include="Development">

        <link href="~/lib/bulma-0.9.3/bulma/css/bulma.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">

        <link href="~/lib/bulma-0.9.3/bulma/css/bulma.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <h3 class="has-text-centered">Admin Panel</h3>
    


    <partial name="_CookieConsentPartial" />
    <div class="container">
        <a asp-page="/Invoices/Items">Admin</a>
        <a asp-page="/Accounts/Login">Sign In</a>
        <a asp-controller="Account" asp-action="Logout">Sign Out</a>
        <div class="columns">
            <div class="column is-3">
                <div class="menu">
                    @if ((await authService.AuthorizeAsync(User, "User")).Succeeded)
                    {
                        <p class="menu-label">Invoices Menu</p>
                        <ul class="menu-list">
                            <li><a asp-page="/Invoices/Items">Items</a></li>
                            <li><a asp-page="/Invoices/Invoices">Invoices</a></li>
                            <li><a asp-page="/Invoices/Customers">Customers</a></li>
                            <li><a asp-page="/Invoices/PayMethods">Pay Methods</a></li>
                        </ul>
                    }
                    @if ((await authService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                        <p class="menu-label">Admin Menu</p>
                        <ul class="menu-list">
                            <li><a asp-page="/Accounts/Users">Configure Users</a></li>

                        </ul>
                    }
                    <p class="menu-label"></p>
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Back to Main</a></li>
                    </ul>

                </div>
            </div>
            <div class="column is-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="container">
       
        <hr />
        <footer>
            <p>&copy; 2021 - MScInvoice.UI</p>
        </footer>
    </div>

    <environment include="Development">

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
