@page
@model MScInvoice.UI.Pages.Accounts.LoginModel
@{
}
   
    <div class="field">
        <form method="post">
            <label class="label">Login</label>
            <div class="control">
                <input class="input" asp-for="Input.Username" />
            </div>
            <label class="label">Password</label>
            <div class="control">
                <input class="input" asp-for="Input.Password" />
            </div>


            <input class="button" type="submit" value="Sign In" />
        </form>
    </div>