@page
@model MScInvoice.UI.Pages.Accounts.UsersModel
@{
}


    <div id="app" class="container">
        <div v-if="!editing">
            <button class="button" @@click="newUser">Add New User</button>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th></th>

                </tr>
                <tr v-for="(user, index) in users">
                    <td>{{user.userName}}</td>
                    <td><a @@click="editUser(user.userName, index)">Edit</a></td>

                </tr>
            </table>
        </div>
        <div v-else>
            <div class="field">
                <div class="block">
                    <label class="label">User Name</label>
                    <div class="control">
                        <input class="input" v-model="userModel.username" />
                    </div>
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" v-model="userModel.password" />
                    </div>
                </div>
                <div class="block">
                    <button class="button" @@click="createUser()" v-if="!userModel.id">Create</button>
                    <button class="button is-warning" @@click="updateUser" v-else>Update Item</button>
                    <button class="button" @@click="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

            <script src="~/js/accounts/users.js"></script>
        }
